In [90]:
# Define Variables for Q .1
price = (180, 130, 110, 160, 140, 170)

In [91]:
# Q .1-(1)
price = list(price)
price.sort()
price = tuple(price)
price

(110, 130, 140, 160, 170, 180)

In [92]:
# Q .1-(2)
price = list(price)
price.insert(0, 100)
price.append(190)
price = tuple(price)
price

(100, 110, 130, 140, 160, 170, 180, 190)

In [93]:
# Q .1-(3)
price_2 = list(price[::2])
price_2

[100, 130, 160, 180]

In [94]:
# Q .1-(4)
if price_2.count(170) == 0:
    print(False)
else:
    print(True)

False

In [95]:
# Q .1-(5)
price = price[0:4] + (0, 0, 0) + price[5:]
price

(100, 110, 130, 140, 0, 0, 0, 170, 180, 190)

In [97]:
# Q. 2
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9,9, 9.5, 7.8, 9.4]
scr1, src2 = scores[0:3], scores[3:]

In [98]:
# Q. 3-(1)
"""(1)	dict_x = { {'a':10} : 5, 'abc': {'c':20} } raises an error because 
{'a':10} is a dictionary, which is mutable. The key should be an immutable type of data.

In [ ]:
# Q. 3-(2)
"""(2)	dict_y = { (1,) : 10, (2,): 20, (3, ): 30, (4, ): 40 } ; dict_y[ -2 : ] causes an error
because dictionaries cannot be sliced"""

In [10]:
# Define Variables for Q. 4
icecream = {'cherry': [12, 100], 'cookies': [18, 200], 'greentea': [15, 140], 'mango': [10, 200]}

In [12]:
# 4-1
icecream['cookies'][0] = 13

In [14]:
# 4-2
print('price=', icecream['cookies'][0], '& stock=', icecream['cookies'][1])

price= 13 & stock= 200

In [17]:
# 4-3
icecream['Strawberry'] = [12, 170]
icecream['pistachio'] = [15, 100]
icecream

{'cherry': [12, 100],
 'cookies': [13, 200],
 'greentea': [15, 140],
 'mango': [10, 200],
 'Strawberry': [12, 170],
 'pistachio': [15, 100]}

In [18]:
# 4-4
'''There is no key such as coconut'''

'There is no key such as coconut'

In [90]:
# 4-5
icecream2 = icecream.copy()

In [102]:
# Define variables for 5
d1 = {'key1':1, 'key2': 3, 'key3': 2, 'key10': 7}
d2 = {'key3':1, 'key2': 2, 'key7': 2, 'key5': 4, 'key1': 7, 'key9': 8}

In [103]:
# 5-1
d2_list = list(d2.values())
d2_list.sort()
d2_list.reverse()
print(d2_list[:3:])

[8, 7, 4]

In [104]:
# 5-2
d2_set = set(d2.values())
d2_set

{1, 2, 4, 7, 8}

In [105]:
# 5-3
new_d2 = d2.copy()
new_d2.update(d1)
if d2 == new_d2:
    print(True)
else:
    print(False)

False

In [116]:
# 5-4
if 4 in d1:
    print(True)
else:
    print(False)

False

In [115]:
# 5-5
set(d1.values()) & set(d2.values())

{1, 2, 7}

In [ ]:
#5-6
'''s1=set(d1); s1[0] rises an error because set has no index'''