### Assignment 1

In [2]:
import math

In [3]:
#1-1
a,b,c = 2, -1, -15

(b+math.sqrt(b**2-4*a*c))/2*a, (b-math.sqrt(b**2-4*a*c))/2*a

(10.0, -12.0)

In [4]:
#1-2
u, var, x = 2, 3, 1

(1/math.sqrt(2*math.pi*var))*math.exp(-(((x-u)**2)/2*var))

0.0513934432679231

In [5]:
#2
grade = ['A', 'B', 'C', 'D', 'F']

In [6]:
#2-1
grade_str = grade[0]+grade[1]+grade[2]+grade[3]+grade[4]
grade_str

'ABCDF'

In [7]:
#2-2
grade_str += grade_str[4]*2
grade_str

'ABCDFFF'

In [8]:
#2-3
grade_str += grade_str[3::-1]
grade_str

'ABCDFFFDCBA'

In [9]:
#2-4
grade_str.count('A')

2

In [10]:
#2-5
grade_str[4:7], grade_str[-7:-4:1], grade_str[-5:-8:-1], grade_str[6:3:-1]

('FFF', 'FFF', 'FFF', 'FFF')

In [11]:
#2-6
grade_str.replace('FFF', 'AAA')

'ABCDAAADCBA'

In [12]:
#2-7
'F' in grade_str

True

In [13]:
#2-8
grade_str.lower()

'abcdfffdcba'

In [14]:
days = ['Mon', 'Tues', 'Wed', 'Thur', 'Fri', ['Sat', 'Sun']]

In [15]:
#3-1
days2 = days.copy()

In [16]:
#3-2
days2[5:], days2[::2], days2[::-2], days2[-2::-3], days[-1][0]

([['Sat', 'Sun']],
 ['Mon', 'Wed', 'Fri'],
 [['Sat', 'Sun'], 'Thur', 'Tues'],
 ['Fri', 'Tues'],
 'Sat')

In [17]:
#3-3
days2 = [days2[0:5]] + days2[-1]
days2

[['Mon', 'Tues', 'Wed', 'Thur', 'Fri'], 'Sat', 'Sun']

In [18]:
#3-4
del days2[0][-1:-4:-2]
days2

[['Mon', 'Tues', 'Thur'], 'Sat', 'Sun']

In [19]:
#3-5
days2[0].insert(2, 'W')
days2

[['Mon', 'Tues', 'W', 'Thur'], 'Sat', 'Sun']

In [20]:
#4-1
Nums = [1,5,2,7,3,6,4]
Nums.append(max(Nums))
Nums

[1, 5, 2, 7, 3, 6, 4, 7]

In [21]:
#4-2
Nums.sort()
Nums.reverse()
Nums

[7, 7, 6, 5, 4, 3, 2, 1]

In [22]:
#4-3
Nums[::2] = ['a']*4
Nums

['a', 7, 'a', 5, 'a', 3, 'a', 1]

### Assignment 2

In [23]:
#1-1
price = (180, 130, 110, 160, 140, 170)
price = list(price)
price.sort()
price = tuple(price)
price

(110, 130, 140, 160, 170, 180)

In [24]:
#1-2
price = (100,) + price + (190,)
price

(100, 110, 130, 140, 160, 170, 180, 190)

In [25]:
#1-3
price_2 = list(price[::2])
price_2

[100, 130, 160, 180]

In [26]:
#1-4
170 in price_2

False

In [27]:
#1-5
price = list(price)
price[4:5] = [0,0,0]
tuple(price)

(100, 110, 130, 140, 0, 0, 0, 170, 180, 190)

In [28]:
#2
scores = [1,2,3,4,5,6,7,8,9,10]
scr1, scr2 = scores[0:7], scores[7:]
scr1, scr2

([1, 2, 3, 4, 5, 6, 7], [8, 9, 10])

In [29]:
#3
#1) mutable objects cannot be a key of a dictionary
#2) dictionary cannot be sliced!

In [30]:
#4
icecream={'cherry': [12,100], 'cookies': [18,200], 'greentea': [15,140], 'mango': [10,200]}

In [31]:
#4-1
icecream['cookies'][0] = 13
icecream

{'cherry': [12, 100],
 'cookies': [13, 200],
 'greentea': [15, 140],
 'mango': [10, 200]}

In [32]:
#4-2
print("price= " + str(icecream['cherry'][0]), "& stock= " + str(icecream['cherry'][1]))

price= 12 & stock= 100

In [33]:
#4-3
icecream.update({'Strawberry':[12,170], 'pistachio': [15,100]})
icecream

{'cherry': [12, 100],
 'cookies': [13, 200],
 'greentea': [15, 140],
 'mango': [10, 200],
 'Strawberry': [12, 170],
 'pistachio': [15, 100]}

In [34]:
#4-4 there is no key such as 'coconut'

In [35]:
icecream2 = icecream.copy()
icecream2

{'cherry': [12, 100],
 'cookies': [13, 200],
 'greentea': [15, 140],
 'mango': [10, 200],
 'Strawberry': [12, 170],
 'pistachio': [15, 100]}

In [36]:
#5
d1={'key1': 1, 'key2': 3, 'key3': 2, 'key10': 7 }
d2={'key3': 1, 'key2': 2, 'key7': 2, 'key5': 4, 'key1': 7, 'key9': 8}

In [37]:
#5-1
d2v = list(d2.values())
d2v.sort()
d2v[-3::]

[4, 7, 8]

In [38]:
#5-2
d2v = set(d2.values())
d2v

{1, 2, 4, 7, 8}

In [39]:
#5-3
d1.keys() <= d2.keys()

False

In [40]:
#5-4
4 in d1.values()

False

In [41]:
#5-5
set(d1.values()) & set(d2.values())

{1, 2, 7}

In [42]:
#5-6 sets cannot be indexed

### Assignment 3

In [43]:
#1
[x for x in range(1000,2001) if x % 11 == 0 and x % 5 == 0]

[1045,
 1100,
 1155,
 1210,
 1265,
 1320,
 1375,
 1430,
 1485,
 1540,
 1595,
 1650,
 1705,
 1760,
 1815,
 1870,
 1925,
 1980]

In [44]:
#2
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9) 

odd = 0 
even = 0

for x in numbers:
    if x % 2 == 0:
        even += 1
    else:
        odd += 1
        
print("Number of even numbers :", even)
print("Number of odd numbers :", odd)

Number of even numbers : 4
Number of odd numbers : 5

In [45]:
#3
x = 0
y = 1
while y < 101:
    print(y)
    x, y = y, x+y

1
1
2
3
5
8
13
21
34
55
89

In [46]:
#4
nrow = int(input("Input number of rows: "))
ncol = int(input("Input number of columns: "))

output= [[0 for x in range(ncol)] for y in range(nrow)]

for row in range(nrow):
    for col in range(ncol):
        output[row][col] = row*col
        
output

Input number of rows: 4
Input number of columns: 3

[[0, 0, 0], [0, 1, 2], [0, 2, 4], [0, 3, 6]]

In [47]:
#5
number = int(input("Input a number: "))
for x in range(1,10):
    print(number, "x", x, "= ", x*number)

Input a number: 4
4 x 1 =  4
4 x 2 =  8
4 x 3 =  12
4 x 4 =  16
4 x 5 =  20
4 x 6 =  24
4 x 7 =  28
4 x 8 =  32
4 x 9 =  36

In [48]:
#6
collatz = [30]
x = 30

while x != 1:
    if x%2 == 0:
        x = x/2
    else:
        x= 3*x + 1
    collatz.append(x)

collatz

[30,
 15.0,
 46.0,
 23.0,
 70.0,
 35.0,
 106.0,
 53.0,
 160.0,
 80.0,
 40.0,
 20.0,
 10.0,
 5.0,
 16.0,
 8.0,
 4.0,
 2.0,
 1.0]

In [49]:
#7-1
x, y = [1,2,3,4], [5,6,7,8]

z = [[xf, yf] for xf in x for yf in y]

In [50]:
#7-2
z = [[xf, yf] for xf in x for yf in y if xf+yf > 8]
z

[[1, 8],
 [2, 7],
 [2, 8],
 [3, 6],
 [3, 7],
 [3, 8],
 [4, 5],
 [4, 6],
 [4, 7],
 [4, 8]]

In [51]:
#8
word = input("When you enter: ")

digits = 0
letters = 0 

for x in word:
    if x.isnumeric():
        digits += 1
    elif x.isalpha():
        letters += 1
    else:
        pass

print("Letters", letters)
print("Digits", digits)

When you enter: 4
Letters 0
Digits 1

### Assignment 4

In [52]:
#1
def count_odd(nlist):
    odd = 0
    for x in nlist:
        if x%2 == 1:
            odd += 1
    return odd

In [53]:
#2
def mySqrt(n):
    oldguess = 0
    newguess = n/2
    
    while abs(newguess-oldguess) > 1.0e-100:
        oldguess = newguess
        newguess = (1/2)*(oldguess+(n/oldguess))
    
    return newguess

mySqrt(2)

1.414213562373095

In [54]:
#3-1
def grading(s=None):
    if s==None:
        print("Input your score!!")
    elif s<=100 and s>90:
        print("Grade is A!")
    elif s<=90 and s>80:
        print("Grade is B!")
    elif s<=80 and s>70:
        print("Grade is C!")
    elif s<=70 and s>60:
        print("Grade is D!")
    elif s<=60 and s>=0:
        print("Grade is F!")
    else:
        print("Score must be a number between 0 and 100!")

In [55]:
#3-2
def grading(s=None, maxscore=100):
    
    if s==None:
        print("Input your score!!")
        return
    s = s * (100/maxscore)
    if s<=100 and s>90:
        print("Grade is A!")
    elif s<=90 and s>80:
        print("Grade is B!")
    elif s<=80 and s>70:
        print("Grade is C!")
    elif s<=70 and s>60:
        print("Grade is D!")
    elif s<=60 and s>=0:
        print("Grade is F!")
    else:
        print("Score must be a number between", 0, "and", str(maxscore) + "!!!")

In [56]:
grading(s=75)
grading(maxscore=1,s=0.85)
grading(5, maxscore=10)
grading(0.95, 1)
grading(maxscore=1)
grading( -0.3, 0.5)

Grade is C!
Grade is B!
Grade is F!
Grade is A!
Input your score!!
Score must be a number between 0 and 0.5!!!

In [57]:
#3-3
#>>> two argument for one parameter
#>>> a keyword argument cannot come before a positional argument

In [58]:
#4 (3) does not work. Since the init files are all empty, we can only utilize the files that are directly under the modules we imported.

### Assignment 5

In [59]:
import numpy as np

In [60]:
#1-1
np.random.randint(10,31,(2,5))

array([[25, 10, 19, 19, 20],
       [28, 25, 25, 20, 22]])

In [61]:
#1-2
np.random.randn(3,3,1)

array([[[-0.2595812 ],
        [ 0.0781208 ],
        [-1.48736427]],

       [[ 1.030414  ],
        [ 0.18092982],
        [ 0.17229911]],

       [[-1.50700658],
        [-0.11235861],
        [ 0.4911858 ]]])

In [62]:
#1-3
np.random.rand(6)

array([0.60176889, 0.12502428, 0.8645027 , 0.74052415, 0.49358475,
       0.37053797])

In [63]:
#2-1
Z = np.zeros((8,8), dtype=np.int64)
Z[1::2,::2] = 1
Z

array([[0, 0, 0, 0, 0, 0, 0, 0],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 0, 0, 0, 0, 0, 0, 0],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 0, 0, 0, 0, 0, 0, 0],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 0, 0, 0, 0, 0, 0, 0],
       [1, 0, 1, 0, 1, 0, 1, 0]], dtype=int64)

In [64]:
#2-2
Z[0::2,1::2] = 1
Z

array([[0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0]], dtype=int64)

In [65]:
#3
six_five = np.array([[0+10*x, 1+10*x, 2+10*x, 3+10*x, 4+10*x, 5+10*x] for x in range(6)])

In [66]:
#3-1
six_five[0,3:5]

array([3, 4])

In [67]:
#3-2
six_five[4:,4:]

array([[44, 45],
       [54, 55]])

In [68]:
#3-3
six_five[::,2]

array([ 2, 12, 22, 32, 42, 52])

In [69]:
#3-4
x = six_five[::,2].reshape(6,1)
x

array([[ 2],
       [12],
       [22],
       [32],
       [42],
       [52]])

In [70]:
#4
Z = np.random.rand( 5 )
Z = (Z-np.min(Z))/(max(Z)-min(Z))
Z

array([0.89571274, 0.13687424, 0.        , 0.31437525, 1.        ])

In [71]:
#5
Z = np.random.uniform(0,10,10)
print(Z//1)
print(Z-Z%1)
print(np.floor(Z))
print(np.ceil(Z)-1)

[3. 5. 5. 8. 2. 7. 4. 2. 8. 1.]
[3. 5. 5. 8. 2. 7. 4. 2. 8. 1.]
[3. 5. 5. 8. 2. 7. 4. 2. 8. 1.]
[3. 5. 5. 8. 2. 7. 4. 2. 8. 1.]

In [72]:
#6
Z = np.arange(1,101)
Z[1::2] = Z[1::2]*(-1)
Z

array([   1,   -2,    3,   -4,    5,   -6,    7,   -8,    9,  -10,   11,
        -12,   13,  -14,   15,  -16,   17,  -18,   19,  -20,   21,  -22,
         23,  -24,   25,  -26,   27,  -28,   29,  -30,   31,  -32,   33,
        -34,   35,  -36,   37,  -38,   39,  -40,   41,  -42,   43,  -44,
         45,  -46,   47,  -48,   49,  -50,   51,  -52,   53,  -54,   55,
        -56,   57,  -58,   59,  -60,   61,  -62,   63,  -64,   65,  -66,
         67,  -68,   69,  -70,   71,  -72,   73,  -74,   75,  -76,   77,
        -78,   79,  -80,   81,  -82,   83,  -84,   85,  -86,   87,  -88,
         89,  -90,   91,  -92,   93,  -94,   95,  -96,   97,  -98,   99,
       -100])

In [73]:
#7
C = np.arange(20,31)
F = (9/5)*C+32

In [74]:
#8
np.random.seed(123)
mat = np.random.randn(6,4);mat

array([[-1.0856306 ,  0.99734545,  0.2829785 , -1.50629471],
       [-0.57860025,  1.65143654, -2.42667924, -0.42891263],
       [ 1.26593626, -0.8667404 , -0.67888615, -0.09470897],
       [ 1.49138963, -0.638902  , -0.44398196, -0.43435128],
       [ 2.20593008,  2.18678609,  1.0040539 ,  0.3861864 ],
       [ 0.73736858,  1.49073203, -0.93583387,  1.17582904]])

In [75]:
mat = np.hstack((mat, np.exp(mat[::,0]).reshape(6,1)))
mat

array([[-1.0856306 ,  0.99734545,  0.2829785 , -1.50629471,  0.33768877],
       [-0.57860025,  1.65143654, -2.42667924, -0.42891263,  0.56068263],
       [ 1.26593626, -0.8667404 , -0.67888615, -0.09470897,  3.54641154],
       [ 1.49138963, -0.638902  , -0.44398196, -0.43435128,  4.44326571],
       [ 2.20593008,  2.18678609,  1.0040539 ,  0.3861864 ,  9.07869158],
       [ 0.73736858,  1.49073203, -0.93583387,  1.17582904,  2.09042747]])

In [76]:
#9
mat += np.array([-1,1,-1,1,-1])
mat

array([[-2.08563060e+00,  1.99734545e+00, -7.17021502e-01,
        -5.06294714e-01, -6.62311229e-01],
       [-1.57860025e+00,  2.65143654e+00, -3.42667924e+00,
         5.71087371e-01, -4.39317368e-01],
       [ 2.65936259e-01,  1.33259598e-01, -1.67888615e+00,
         9.05291031e-01,  2.54641154e+00],
       [ 4.91389626e-01,  3.61098003e-01, -1.44398196e+00,
         5.65648724e-01,  3.44326571e+00],
       [ 1.20593008e+00,  3.18678609e+00,  4.05389788e-03,
         1.38618640e+00,  8.07869158e+00],
       [-2.62631424e-01,  2.49073203e+00, -1.93583387e+00,
         2.17582904e+00,  1.09042747e+00]])

In [77]:
#10
mat[0:3,::] *= 0.1
mat[3:,::] *= 10
mat

array([[-2.08563060e-01,  1.99734545e-01, -7.17021502e-02,
        -5.06294714e-02, -6.62311229e-02],
       [-1.57860025e-01,  2.65143654e-01, -3.42667924e-01,
         5.71087371e-02, -4.39317368e-02],
       [ 2.65936259e-02,  1.33259598e-02, -1.67888615e-01,
         9.05291031e-02,  2.54641154e-01],
       [ 4.91389626e+00,  3.61098003e+00, -1.44398196e+01,
         5.65648724e+00,  3.44326571e+01],
       [ 1.20593008e+01,  3.18678609e+01,  4.05389788e-02,
         1.38618640e+01,  8.07869158e+01],
       [-2.62631424e+00,  2.49073203e+01, -1.93583387e+01,
         2.17582904e+01,  1.09042747e+01]])

In [78]:
#11
np.percentile(mat,70, axis=0)

array([ 2.47024494, 14.25915016, -0.11979538,  9.75917562, 22.66846589])

In [79]:
#12 can use index directly after sorting!
np.sort(mat[2])[::-1]

array([ 0.25464115,  0.0905291 ,  0.02659363,  0.01332596, -0.16788862])

In [80]:
#13
print(np.sum((np.exp(mat) > 3), axis=1))

[0 0 0 4 4 3]

In [81]:
#14
np.nonzero(mat > np.mean(mat, axis=0))

(array([0, 1, 2, 3, 3, 4, 4, 4, 4, 4, 5, 5], dtype=int64),
 array([2, 2, 2, 0, 4, 0, 1, 2, 3, 4, 1, 3], dtype=int64))

In [84]:
#15
np.random.seed(123)
M = np.random.randint(1, 50, (300,300))
M@np.transpose(M)

array([[253692, 191419, 199215, ..., 199095, 193923, 204098],
       [191419, 246536, 197191, ..., 198781, 193681, 196092],
       [199215, 197191, 264463, ..., 208696, 197933, 212706],
       ...,
       [199095, 198781, 208696, ..., 264895, 202675, 217871],
       [193923, 193681, 197933, ..., 202675, 250985, 206761],
       [204098, 196092, 212706, ..., 217871, 206761, 274775]])

In [85]:
#16
np.linalg.det(M)

inf

In [87]:
#17
np.linalg.inv(M)

array([[-0.00110814, -0.00494781, -0.00146918, ...,  0.0037647 ,
         0.00075862, -0.00368261],
       [-0.00541606, -0.01500507,  0.00097442, ...,  0.00411907,
         0.00455868, -0.00887087],
       [ 0.00294191, -0.00543342, -0.00306643, ...,  0.00227675,
         0.00207435, -0.0010138 ],
       ...,
       [-0.00235237,  0.0061028 ,  0.00135258, ...,  0.00197801,
        -0.0011737 , -0.00240741],
       [ 0.00214432, -0.00030543, -0.00279724, ..., -0.00140041,
         0.00186099,  0.00542004],
       [-0.00240177,  0.0036928 ,  0.0037058 , ...,  0.00328506,
        -0.0027742 , -0.00767131]])